---
---

<div 
  data-aos="fade-up"
  class="bg"></div>

<style>
.bg {
  position: fixed;
  width: 1440px;
  height: 1024px;
  scale: 60%;
  /* left: 50%;
  transform: translateX(-50%); */
  top: 0px;
  z-index: -1;

  background: radial-gradient(66.25% 59.41% at 97.81% 97.9%, #E59452 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(61.01% 69.09% at 11.22% 12.35%, rgba(229, 148, 82, 0.38) 0%, #1C3969 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(350px);
  transition: all .4s ease-in-out;
}
</style>