---
export interface Props {
  title: string;
  imgUrl: string;
  credlyLink: string;
}

const {title, imgUrl, credlyLink} = Astro.props;

---

<li class="certs__item">
  <a href={credlyLink} id={title} target="_blank">
    <img class="certs__img" src={imgUrl}>
  </a>
</li>